<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WayWito Shop - Home</title>
    <link rel="icon" href="{{ url_for('static', filename='img/Fevicon.png') }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/bootstrap/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/fontawesome/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/themify-icons/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/nice-select/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/profile.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendors/nouislider/nouislider.min.css') }}">


</head>

<body>
    <!--================ Start Header Menu Area =================-->
    <header class="header_area">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="logotype" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo/logo.png') }}" style="max-height: 90px; max-width: 90px;" alt=""></a>
                    <h4 class="card-product__title" style="font-size: 25px;">
                        <a href="{{ url_for('index') }}">Way Wito</a>
                    </h4>
                    
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto mr-auto">


                            <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Главная</a></li>


                            <li class="nav-item"><a class="nav-link" href="{{ url_for('products') }}">Объявления</a></li>
                            </li>

                            <li class="nav-item submenu dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Страницы</a>
                                <ul class="dropdown-menu">
                                <li class="nav-item" style="width: 260px;"><a class="nav-link" href="/purchases">Активные покупки</a></li>
                                <li class="nav-item" style="width: 260px;"><a class="nav-link" href="/sales">Незавершенные продажи</a></li>
                                </ul>
                                </li>

                            {% if username == False %}
                            <li class="nav-item submenu dropdown">
                                <a href="{{ url_for('register') }}" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Register</a>
                                <li class="nav-item submenu dropdown">
                                <a href="{{ url_for('login') }}" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Login</a>
                                    
                            {% else %}
                                    <li class="nav-item submenu dropdown">
                                        <a href="{{ url_for('profile', user_id=current_user.get_id()) }}" class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">{{ username }}</a> {% endif %}
                        </ul>





                        <ul class="nav-shop">
                            <a href="{{ url_for('products') }}" style="width: 40px;"><li class="nav-item-bar"><button><i class="ti-search"></i></button></li></a>
                            <a href="/profile/{{ current_user.get_id() }}" style="margin-right: 20px;"><li class="nav-item-bar"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button></li></a>
                            <li class="nav-item-bar"><a class="button button-header" style="margin: 5px 5px 5px 5px;;" href="/add-item">Добавить товар</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
    </header>
    <!--================ End Header Menu Area =================-->

    {% block content %} {% endblock %}


    <!--================ Start footer Area  =================-->
    <footer class="footer">
        <div class="footer-area">
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title large_title">Way Wito</h4>
                            <p>
                                WayWito - интернет-сервис для размещения объявлений о товарах, недвижимости, вакансиях и резюме на рынке труда
                            </p>

                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Ссылки</h4>
                            <ul class="list">
                                <li><a href="{{ url_for('index') }}">Главная страница</a></li>
                                <li><a href="/products">Объявления</a></li>
                                {% if current_user.get_id() %}
                                <li><a href="/profile/{{ current_user.get_id() }}">Профиль</a></li>
                                {% else %}
                                <li><a href="/register">Зарегистрироваться</a></li>
                                {% endif %}

                                <li><a href="/purchases">Активные покупки</a></li>
                                <li><a href="/sales">Незавершенные продажи</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title">Контакты</h4>
                            <div class="ml-40">
                                <p class="sm-head">
                                    <span class="fa fa-location-arrow"></span> Head Office
                                </p>
                                <p>123, Main Street, Your City</p>

                                <p class="sm-head">
                                    <span class="fa fa-phone"></span> Phone Number
                                </p>
                                <p>
                                    +123 456 7890 <br> +123 456 7890
                                </p>

                                <p class="sm-head">
                                    <span class="fa fa-envelope"></span> Email
                                </p>
                                <p>
                                    free@infoexample.com <br> www.infoexample.com
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--================ End footer Area  =================-->


    <script src="{{ url_for('static', filename='vendors/jquery/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/bootstrap/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/skrollr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/nice-select/jquery.nice-select.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/jquery.ajaxchimp.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendors/mail-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>