{% extends 'base.html' %} {% block content %}



<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Category</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- ================ end banner area ================= -->


<!-- ================ category section start ================= -->
<section class="section-margin--small mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <details>
                        <summary class="head">Просмотреть Категории</summary>
                            <ul class="main-categories">
                                <li class="common-filter">
                                    <form action="#">
                                        <ul>
                                            <li class="filter-list" id="unbrowse1"><input class="pixel-radio" type="radio" id="unbrowse" name="brand"><label for="unbrowse">Без разницы</label></li>
                                            <li class="filter-list" id="men1"><input class="pixel-radio" type="radio" id="men" name="brand"><label for="men">Транспорт</label></li>
                                            <li class="filter-list" id="women1"><input class="pixel-radio" type="radio" id="women" name="brand"><label for="women">Работа</label></li>
                                            <li class="filter-list" id="accessories1"><input class="pixel-radio" type="radio" id="accessories" name="brand"><label for="accessories">Аксессуары</label></li>
                                            <li class="filter-list" id="footwear1"><input class="pixel-radio" type="radio" id="footwear" name="brand"><label for="footwear">Для дома и дачи</label></li>
                                            <li class="filter-list" id="bayItem1"><input class="pixel-radio" type="radio" id="bayItem" name="brand"><label for="bayItem">Недвижимость</label></li>
                                            <li class="filter-list" id="electronics1"><input class="pixel-radio" type="radio" id="electronics" name="brand"><label for="electronics">Услуги</label></li>
                                            <li class="filter-list" id="electroproduct1"><input class="pixel-radio" type="radio" id="electroproduct" name="brand"><label for="electroproduct">Электроника</label></li>
                                            <li class="filter-list" id="animals1"><input class="pixel-radio" type="radio" id="animals" name="brand"><label for="animals">Животные</label></li>
                                            <li class="filter-list" id="buisness1"><input class="pixel-radio" type="radio" id="buisness" name="brand"><label for="buisness">Готовый бизнес</label></li>
                                            <li class="filter-list" id="equipment1"><input class="pixel-radio" type="radio" id="equipment" name="brand"><label for="equipment">Оборудование</label></li>
                                        </ul>
                                    </form>
                                </li>
                            </ul>
                    </details>
                
                </div>
                
                <div class="sidebar-filter">
                    <details open="open">
                        <summary class="top-filter-head">Фильтры товаров</summary>
                        <div class="common-filter">
                            <div class="head">Состояние товара</div>
                            <form action="#">
                                <ul>
                                    <li class="filter-list" id="unchecking1"><input class="pixel-radio" type="radio" id="unchecking" name="brand"><label for="unchecking">Без разницы</label></li>
                                    <li class="filter-list" id="apple1"><input class="pixel-radio" type="radio" id="apple" name="brand"><label for="apple">Идеальное состояние</label></li>
                                    <li class="filter-list" id="asus1"><input class="pixel-radio" type="radio" id="asus" name="brand"><label for="asus">Б / У</label></li>
                                    <li class="filter-list" id="gionee1"><input class="pixel-radio" type="radio" id="gionee" name="brand"><label for="gionee">Чуть хуже</label></li> </ul>
                            </form>
                        </div>
                        <div class="common-filter">
                            <div class="head">Цвета</div>
                            <form action="#">
                                <ul>
                                    <li class="filter-list" id="uncolor1"><input class="pixel-radio" type="radio" id="uncolor" name="color"><label for="uncolor">Без разницы</label></li>
                                    
                                    <li class="filter-list" id="black1"><input class="pixel-radio" type="radio" id="black" name="color"><label for="black">Черный</label></li>
                                    <li class="filter-list" id="balckleather1"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label for="balckleather">Белый</label></li>
                                    <li class="filter-list" id="blackred1"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">Красный</label></li>
                                    <li class="filter-list" id="gold1"><input class="pixel-radio" type="radio" id="gold" name="color"><label for="gold">Зеленый</label></li>
                                    <li class="filter-list" id="spacegrey1"><input class="pixel-radio" type="radio" id="spacegrey" name="color"><label for="spacegrey">Синий</label></li>

                                    <li class="filter-list" id="orange1"><input class="pixel-radio" type="radio" id="orange" name="color"><label for="orange">Оранжевый</label></li>
                                    <li class="filter-list" id="purple1"><input class="pixel-radio" type="radio" id="purple" name="color"><label for="purple">Фиолетовый</label></li>
                                    <li class="filter-list" id="gray1"><input class="pixel-radio" type="radio" id="gray" name="color"><label for="gray">Серый</label></li>
                                    <li class="filter-list" id="blue1"><input class="pixel-radio" type="radio" id="blue" name="color"><label for="blue">Голубой</label></li>
                                
                                </ul>
                            </form>
                        </div>
                        <div class="common-filter">
                            <div class="head">Цена</div>
                            <div class="price-range-area">
                                <div id="price-range"></div>
                                <div class="value-wrapper d-flex">
                                    <div class="price">Цена:</div>
                                    <span>₽</span>
                                    <div id="lower-value"></div>
                                    <div class="to">до</div>
                                    <span>₽</span>
                                    <div id="upper-value"></div>
                                </div>
                            </div>
                            
                            <form action="{{ url_for('find') }}" method="post">

                                <input type="hidden" name="BrowseCategories" id="browseInput" value="">
                                <input type="hidden" name="Brands" id="brandInput" value="">
                                <input type="hidden" name="Color" id="colorInput" value="">
                                <input type="hidden" name="Price" id="priceInput" value="">
                                

                                <button id="apply" style="color:#fff; background:#384aeb; border:none; border-radius: 10px; padding: 7px 40px; font-size:17px;
                                margin: 15px 24% 0px;">APPLY</button>
                            </form>
                        </div>
                    </details>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
                <option value="1">Default sorting</option>
              </select>
                    </div>
                    <div class="sorting mr-auto">
                        <!-- <select>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
                <option value="1">Show 12</option>
              </select> -->
                    </div>
                    <div>
                        <div class="input-group filter-bar-search">
                            <input type="text" placeholder="Search">
                            <div class="input-group-append">
                                <button type="button"><i class="ti-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-md-6 col-lg-4">
                                <div class="card text-center card-product">
                                    <div class="card-product__img">
                                        <img class="card-img" src="{{ product.img }}" alt="">
                                        <ul class="card-product__imgOverlay">
                                            <li><button><i class="ti-search"></i></button></li>
                                            <li><button><i class="ti-shopping-cart"></i></button></li>
                                            <li><button><i class="ti-heart"></i></button></li>
                                        </ul>
                                    </div>
                                    <div class="card-body">
                                        <p>{{ product.categories }}</p>
                                        <h4 class="card-product__title"><a href="/item/{{ product.id }}">{{ product.title }}</a></h4>
                                        <p class="card-product__price">₽{{ product.price }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</section>
<!-- ================ category section end ================= -->

<!-- ================ top product area start ================= -->
<section class="related-product-area">
    <div class="container">
        <div class="section-intro pb-60px">
            <p>Popular Item in the market</p>
            <h2>Top <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row mt-30">
            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-1.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-2.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-3.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-4.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-5.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-6.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-7.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-8.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-9.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-1.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-2.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="{{ url_for('static', filename='img/product/product-sm-3.png') }}" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Gray Coffee Cup</a>
                            <div class="price">₽170.00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ================ top product area end ================= -->

<!-- ================ Subscribe section start ================= -->
<section class="subscribe-position">
    <div class="container">
        <div class="subscribe text-center">
            <h3 class="subscribe__title">Get Update From Anywhere</h3>
            <p>Bearing Void gathering light light his eavening unto dont afraid</p>
            <div id="mc_embed_signup">
                <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="subscribe-form form-inline mt-5 pt-1">
                    <div class="form-group ml-sm-auto">
                        <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                        <div class="info"></div>
                    </div>
                    <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
                    <div style="position: absolute; left: -5000px;">
                        <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>
<!-- ================ Subscribe section end ================= -->

<script src="{{ url_for('static', filename='vendors/nouislider/nouislider.min.js') }}"></script>
<script src="../static/js/category.js"></script>
{% endblock%}