{% extends 'base.html' %} {% block content %}
<section class="blog-banner-area" id="category">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Add Item</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Add Item</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>


<section class="tracking_box_area section-margin--small">
    <div class="container">
        <div class="tracking_box_inner">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi, praesentium. Quod magni qui iste fugit necessitatibus atque iure quia! Tenetur cumque maxime totam soluta sed blanditiis aut voluptatem ipsam nisi voluptatum distinctio rem, perferendis
                dolor, ullam delectus omnis! Eum.</p>
            <form class="row tracking_form" action="{{ url_for('AddItem') }}" method="post" novalidate="novalidate">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="order" name="telegram" placeholder="Введите ваши контакты для связи">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email" name="name" placeholder="Название товара">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email1" name="price" placeholder="Цена товара в рублях">
                </div>
                <div class="col-md-12 form-group">
                    <input type="email" class="form-control" id="email3" name="img" placeholder="Ссылка на изображение">
                </div>

                <div class="col-md-12 form-group">
                    <div class="dropdown32">
                        <div class="select32">
                        <span>Выберите категорию товара</span>
                        <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="gender">
                        <ul class="dropdown-menu32">
                        <li id="a">Транспорт</li>
                        <li id="b">Работа</li>
                        <li id="c">Акссесуары</li>
                        <li id="d">Для дома и дачи</li>
                        <li id="e">Недвижимость</li>
                        <li id="f">Услуги</li>
                        <li id="g">Электроника</li>
                        <li id="h">Животные</li>
                        <li id="i">Готовый бизнес</li>
                        <li id="j">Оборудование</li>
                        </ul>
                    </div>     
                </div>

                <div class="col-md-12 form-group">
                    <div class="dropdown32">
                        <div class="select32">
                        <span>Выберите цвет товара</span>
                        <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="color">
                        <ul class="dropdown-menu32">
                            <li id="a">Черный</li>
                            <li id="b">Белый</li>
                            <li id="c">Красный</li>
                            <li id="d">Зеленый</li>
                            <li id="e">Синий</li>
                            <li id="f">Оранжевый</li>
                            <li id="g">Фиолетовый</li>
                            <li id="h">Серый</li>
                            <li id="i">Голубой</li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-12 form-group">
                    <div class="dropdown32">
                        <div class="select32">
                            <span>Выберите состояние товара</span>
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <input type="hidden" name="condition">
                        <ul class="dropdown-menu32">
                            <li id="a">Идеальное состояние</li>
                            <li id="b">Б / У</li>
                            <li id="c">Немного хуже</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-12 form-group">
                    <textarea class="form-control rounded" style="height: 100px;" placeholder="Описание товара" name="description"></textarea>
                </div>
                <div class="col-md-12 form-group">
                    <button type="submit" value="submit" class="button button-tracking">Add</button>
                </div>
            </div>
            </form>
        </div>





    </div>
</section>
{% endblock %}