{% extends 'base.html' %} {% block content %}
  <!-- ================ start banner area ================= -->	
  <section class="blog-banner-area" id="blog">
    <div class="container h-100">
      <div class="blog-banner">
        <div class="text-center">
          <h1>Новости</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Главная</a></li>
              <li class="breadcrumb-item active" aria-current="page">Новости</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </section>
  <!-- ================ end banner area ================= -->


  <!--================Blog Area =================-->
  <section class="blog_area">
      <div class="container">
          <div class="row" style="justify-content: center;">
              <div class="col-lg-8">
                  <div class="blog_left_sidebar" style="margin-top: 60px;">

                        {% for card in cards %}

                            <article class="row blog_item">
                                <div class="col-md-3">
                                    <div class="blog_info text-right">
                                        <!-- <div class="post_tag">
                                            <a href="#">Food,</a>
                                            <a class="active" href="#">Technology,</a>
                                            <a href="#">Politics,</a>
                                            <a href="#">Lifestyle</a>
                                        </div> -->
                                        <!-- <ul class="blog_meta list"> -->
                                            <!-- <li>
                                                <a href="#">Mark wiens
                                                    <i class="lnr lnr-user"></i>
                                                </a>
                                            </li> -->
                                            <!-- <li style="width: 200px;">
                                                <a href="#">{{ card.date }}
                                                    <i class="lnr lnr-calendar-full"></i>
                                                </a>
                                            </li> -->
                                            <!-- <li>
                                                <a href="#">1.2M Views
                                                    <i class="lnr lnr-eye"></i>
                                                </a>
                                            </li> -->
                                            <!-- <li> -->
                                                <!-- <a href="#">{{ card.comments }} Comments -->
                                                    <!-- <i class="lnr lnr-bubble"></i> -->
                                                <!-- </a> -->
                                            <!-- </li> -->
                                        <!-- </ul> -->
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="blog_post">
                                        <img src="{{ card.img }}" alt="">
                                        <div class="blog_details">
                                            <a href="/blog/{{ card.id }}">
                                                <h2>{{ card.title }}</h2>
                                            </a>
                                            <p>{{ card.description }}</p>
                                            <a class="button button-blog" href="/blog/{{ card.id }}">View More</a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                    
                        {% endfor %}

                      <nav class="blog-pagination justify-content-center d-flex">
                          <ul class="pagination">
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Previous">
                                      <span aria-hidden="true">
                                          <span class="lnr lnr-chevron-left"></span>
                                      </span>
                                  </a>
                              </li>
                              <li class="page-item active">
                                  <a href="#" class="page-link">01</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">02</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">03</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">04</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link">09</a>
                              </li>
                              <li class="page-item">
                                  <a href="#" class="page-link" aria-label="Next">
                                      <span aria-hidden="true">
                                          <span class="lnr lnr-chevron-right"></span>
                                      </span>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>

          </div>
      </div>
  </section>
  <!--================Blog Area =================-->

  
{% endblock %}