{% extends 'base.html' %} {% block content %}
  
	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Order Confirmation</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Shop Category</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  <!--================Order Details Area =================-->
  <section class="order_details section-margin--small">
    <div class="container">
      <form action="{{ url_for('buy', item_id=item_id) }}" method="post">
        <p class="text-center billing-alert">Thanks for choosing us!</p>
        <div class="row mb-5">
          <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <div class="confirmation-card">
              <h3 class="billing-title">Payment</h3>
              <table class="order-rable">
                <tr>
                  <td>Order number</td>
                  <td>: {{ number }}</td>
                </tr>
                <tr>
                  <td>Date</td>
                  <td>: {{ date }}</td>
                </tr>
                <tr>
                  <td>Total</td>
                  <td>: RUB {{ price }}</td>
                </tr>
                <tr>
                  <td>Payment method</td>
                  <td>: Payment from balance</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <div class="confirmation-card">
              <h3 class="billing-title">Product Information</h3>
              <table class="order-rable">
                <tr>
                  <td>Name</td>
                  <td>: {{ title }}</td>
                </tr>
                <tr>
                  <td>Product exhibition date</td>
                  <td>: {{ date_item }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
            <div class="confirmation-card">
              <h3 class="billing-title">Seller Information</h3>
              <table class="order-rable">
                <tr>
                  <td>Username</td>
                  <td>: {{ seller }}</td>
                </tr>
                <tr>
                  <td>Registered</td>
                  <td>: {{ registred }}</td>
                </tr>
                <tr>
                  <td>City</td>
                  <td>: Grozny</td>
                </tr>
                <tr>
                  <td>Ip adress:</td>
                  <td>: {{ ip }}</td>
                </tr>
                <tr>
                  <td>Raiting:</td>
                  <td>: {{ raiting }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <center><button type="submit" class="btn btn-success" data-original-title="" title="" style="margin-bottom: 100px;">Подтвердить покупку</button></center>
        <input type="hidden" value="{{ price }}" name="price">
      </div>
      </form>
  </section>
  <!--================End Order Details Area =================-->

{% endblock %}