{% extends 'base.html' %} {% block content %}
<main class="site-main">
    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <!-- <p>Eanip</p> -->
                <h2>Новейшая<span class="section-intro__style"> Продукция</span></h2>
            </div>
            <div class="row">
                {% for element in elements[:8] %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <a href="/item/{{ element.id }}"><img class="card-img" src="{{ element.img }}" alt=""
                                data-pagespeed-url-hash="3251231709"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);"></a>
                            <ul class="card-product__imgOverlay">
                                <a href="/product/{{ element.id }}/heart"><li><button><i class="ti-heart"></i></button></li></a>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>{{ element["categories"] }}</p>
                            <h4 class="card-product__title"><a href="/item/{{ element.id }}">{{ element.title }}</a></h4>
                            <p class="card-product__price">{{ element.price }}₽</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ================ trending product section end ================= -->




    <!-- ================ Blog section start ================= -->
    <section class="blog">
        <div class="container">
            <div class="section-intro pb-60px">
                <!-- <p>Popular Item in the market</p> -->
                <h2>Последние <span class="section-intro__style">Новости</span></h2>
            </div>

            <div class="row">

                {% for blog in blogs %}
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">

                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="{{ blog.img }}"
                                alt="">
                        </div>
                        <div class="card-body">

                            <h4 class="card-blog__title"><a
                                    href="/blog/{{ blog.id }}">{{ blog.title }}</a></h4>
                            <p>{{ blog.description[:70] }} ...</p>
                            <a class="card-blog__link" href="/blog/{{ blog.id }}">Подробнее <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>





</main>
{% endblock %}