{% extends 'base.html' %} {% block content %}
<main class="site-main">
    <!-- ================ trending product section start ================= -->
    <section class="section-margin calc-60px">
        <div class="container">
            <div class="section-intro pb-60px">
                <!-- <p>WAY WITO</p> -->
                <h2>Новейшая<span class="section-intro__style"> Продукция</span></h2>
            </div>
            <div class="row">
                {% for element in elements[:8] %}
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div class="card text-center card-product">
                        <div class="card-product__img">
                            <img class="card-img" src="{{ element.img }}" alt=""
                                data-pagespeed-url-hash="3251231709"
                                onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                            <ul class="card-product__imgOverlay">
                                <li><button><i class="ti-search"></i></button></li>
                                <li><button><i class="ti-shopping-cart"></i></button></li>
                                <li><button><i class="ti-heart"></i></button></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <p>{{ element["categories"] }}</p>
                            <h4 class="card-product__title"><a href="/item/{{ element.id }}">{{ element.title }}</a></h4>
                            <p class="card-product__price">{{ element.price }}₽</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ================ trending product section end ================= -->




    <!-- ================ Blog section start ================= -->
    <section class="blog">
        <div class="container">
            <div class="section-intro pb-60px">
                <!-- <p>Popular Item in the market</p> -->
                <h2>Последние <span class="section-intro__style">Новости</span></h2>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='img/blog/blog1.png') }}"
                                alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><a href="{{ url_for('static', filename='#') }}">By Admin</a></li>
                                <li><a href="{{ url_for('static', filename='#') }}"><i class="ti-comments-smiley"></i> 2
                                        Comments</a></li>
                            </ul>
                            <h4 class="card-blog__title"><a
                                    href="{{ url_for('static', filename='single-blog.html') }}">The Richland Center
                                    Shooping News and weekly shooper</a></h4>
                            <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided
                                light Forth.</p>
                            <a class="card-blog__link" href="{{ url_for('static', filename='#') }}">Read More <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='img/blog/blog2.png') }}"
                                alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><a href="{{ url_for('static', filename='#') }}">By Admin</a></li>
                                <li><a href="{{ url_for('static', filename='#') }}"><i class="ti-comments-smiley"></i> 2
                                        Comments</a></li>
                            </ul>
                            <h4 class="card-blog__title"><a
                                    href="{{ url_for('static', filename='single-blog.html') }}">The Shopping News also
                                    offers top-quality printing services</a></h4>
                            <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided
                                light Forth.</p>
                            <a class="card-blog__link" href="{{ url_for('static', filename='#') }}">Read More <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="card card-blog">
                        <div class="card-blog__img">
                            <img class="card-img rounded-0" src="{{ url_for('static', filename='img/blog/blog3.png') }}"
                                alt="">
                        </div>
                        <div class="card-body">
                            <ul class="card-blog__info">
                                <li><a href="{{ url_for('static', filename='#') }}">By Admin</a></li>
                                <li><a href="{{ url_for('static', filename='#') }}"><i class="ti-comments-smiley"></i> 2
                                        Comments</a></li>
                            </ul>
                            <h4 class="card-blog__title"><a
                                    href="{{ url_for('static', filename='single-blog.html') }}">Professional design
                                    staff and efficient equipment you’ll find we offer</a></h4>
                            <p>Let one fifth i bring fly to divided face for bearing divide unto seed. Winged divided
                                light Forth.</p>
                            <a class="card-blog__link" href="{{ url_for('static', filename='#') }}">Read More <i
                                    class="ti-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ================ Blog section end ================= -->




</main>
{% endblock %}