{% extends 'base.html' %} {% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Блог #{{ blog.id }}</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Главнвя</a></li>
						<li class="breadcrumb-item active" aria-current="page">Блог #{{ blog.id }}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->



<!--================Blog Area =================-->
<section class="blog_area single-post-area py-80px section-margin--small">
	<div class="container">
		<div class="row" style="justify-content: center;">
			<div class="col-lg-8 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="{{ blog.img }}" alt="">
						</div>
					</div>
					<div class="col-lg-3  col-md-3">
						<div class="blog_info text-right">
							<ul class="blog_meta list">
								<li>
									<a href="#">Eanip - 2022
										<i class="lnr lnr-user"></i>
									</a>
								</li>
								<li>
									<a href="#">{{ comments_count }} Comments
										<i class="lnr lnr-bubble"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-9 col-md-9 blog_details">
						<h2>{{ blog.title }}</h2>
						<p class="excert">
							{{ blog.description }}
						</p>
					</div>
				</div>
				<div class="comments-area">
					<h4>{{ commtents_count }} Comments</h4>
					{% for comment in comments %}
					<div class="comment-list">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="desc">
									<h5>
										<a href="#">{{ comment.nickname }}</a>
									</h5>
									<p class="comment">
										{{ comment.description }}
									</p>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="comment-form">
					<h4>Написать комментарий</h4>
					<form action="{{ url_for('blog_page', id=blog.id) }}" method="post" id="myform">

						<div class="form-group">
							<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"
								required=""></textarea>
						</div>
						<a href="#" class="button button-postComment button--active" onclick="document.getElementById('myform').submit(); return false;">Комментировать</a>
					</form>
				</div>
			</div>

		</div>
	</div>
</section>
<!--================Blog Area =================-->



{% endblock %}