{% extends 'base.html' %} {% block content %}
<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
    <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1>Shop Single</h1>
                <nav aria-label="breadcrumb" class="banner-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Shop Single</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>



<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div>
                    <div class="single-prd-item">
                        <img class="img-fluid" style="width: 100%;" src="{{ product.img }}" alt="">
                    </div>

                    <!-- <div class="single-prd-item">
							<img class="img-fluid" src="{{ url_for('static', filename='img/category/s-p1.jpg') }}" alt="">
						</div>
						<div class="single-prd-item">
							<img class="img-fluid" src="{{ url_for('static', filename='img/category/s-p1.jpg') }}" alt="">
						</div> -->
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <div class="s_product_text">
                    <h3>{{ product.title }}</h3>
                    <h2>₽{{ product.price }}</h2>
                    <ul class="list">
                        <li><a class="active" href="#"><span>Категория</span> : {{ product.categories }}</a></li>
                        <li><a class="active" href="#"><span>Контакты</span> : {{ product.contact }}</a></li>
                        <li><a href="/profile/{{ product.user_id }}"><span>Продавец</span> : Нажмите чтобы перейти на профиль продавца</a></li>
                        </ul>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium cumque ducimus fuga incidunt molestiae nobis placeat quas temporibus voluptate. Accusamus aperiam corporis cum dolore ducimus enim hic, maiores praesentium suscipit
                        voluptate. Accusantium, aut dolores est exercitationem harum ipsa minus odit porro rem tenetur vel?</p>
                    <div class="product_count">


                        <a class="button primary-btn" href="{{ url_for('buy', item_id=item_id) }}">Buy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>


            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>{{ product.description }}</p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Width</h5>
                                </td>
                                <td>
                                    <h5>128mm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Height</h5>
                                </td>
                                <td>
                                    <h5>508mm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Depth</h5>
                                </td>
                                <td>
                                    <h5>85mm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight</h5>
                                </td>
                                <td>
                                    <h5>52gm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Quality checking</h5>
                                </td>
                                <td>
                                    <h5>yes</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Freshness Duration</h5>
                                </td>
                                <td>
                                    <h5>03days</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>When packeting</h5>
                                </td>
                                <td>
                                    <h5>Without touch of hand</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Each Box contains</h5>
                                </td>
                                <td>
                                    <h5>60pcs</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="comment_list">
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ url_for('static', filename='img/product/review-1.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <div class="review_item reply">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ url_for('static', filename='img/product/review-2.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                            <div class="review_item">
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{ url_for('static', filename='img/product/review-3.png') }}" alt="">
                                    </div>
                                    <div class="media-body">
                                        <h4>Blake Ruiz</h4>
                                        <h5>12th Feb, 2018 at 05:56 pm</h5>
                                        <a class="reply_btn" href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="review_list">
                            {% for comment in comments %}
                                <div class="review_item">
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHvSyIzSgje1VArO1EL9bnujvpOSR3Vrf1vlTjWJZzgrH7E_vu04SkgJroFpbxFg4o6Fs&usqp=CAU" style="width:70px;" alt="">
                                        </div>
                                        <div class="media-body">
                                            <h4>{{ comment.contact }}</h4>
                                            {% for star in range(comment.stars) %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <p>{{ comment.description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="review_box">
                            <h4>Введите текст комментария</h4>
                            <p>Рейтинг:</p>
                            <ul class="list">
                                <li>
                                    <img id="star-rate1" data-value="1" src="../static/img/star.png" alt="" style=" width: 20px; height: 20px">
                                </li>
                                <li>
                                    <img id="star-rate2" data-value="2" src="../static/img/star.png" alt="" style=" width: 20px; height: 20px">
                                </li>
                                <li>
                                    <img id="star-rate3" data-value="3" src="../static/img/star.png" alt="" style=" width: 20px; height: 20px">
                                </li>
                                <li>
                                    <img id="star-rate4" data-value="4" src="../static/img/star.png" alt="" style=" width: 20px; height: 20px">
                                </li>
                                <li>
                                    <img id="star-rate5" data-value="5" src="../static/img/star.png" alt="" style=" width: 20px; height: 20px">
                                </li>
                            </ul>



                            <form action="{{ url_for('add_comment') }}" method="post" class="form-contact form-review mt-3">

                                <input type="hidden" name="stars" id="star-check" value="0">
                                <input type="hidden" name="user_id" value="{{ user_id }}">
                                <input type="hidden" name="item_id" value="{{ item_id }}">


                                <div class="form-group">
                                    <textarea class="form-control different-control w-100" name="description" id="textarea" cols="30" rows="5" placeholder="Enter Message"></textarea>
                                </div>
                                <div class="form-group text-center text-md-right mt-3">
                                    <button type="submit" class="button button--active button-review">Submit Now</button>
                                </div>



                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/single-product.js"></script> 
</section>


<!--================ Start related Product area =================-->
<section class="related-product-area">
    <div class="container">
        <div class="section-intro pb-60px">
            <!-- <p> Item in the market</p> -->
            <h2><span class="section-intro__style">Рекомендуем</span></h2>
        </div>
        <div class="row mt-30">
            <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
                <div class="single-search-product-wrapper">
                    {% for recom in recomended[:3] %}
                        <div class="single-search-product d-flex">
                            <a href="item/{{ recom.id }}"><img src="{{ recom.img }}" alt=""></a>
                            <div class="desc">
                                <a href="item/{{ recom.id }}" class="title">{{ recom.title }}</a>
                                <div class="price">₽{{ recom.price }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
            <div class="single-search-product-wrapper">
                {% for recom in recomended[3:6] %}
                    <div class="single-search-product d-flex">
                        <a href="item/{{ recom.id }}"><img src="{{ recom.img }}" alt=""></a>
                        <div class="desc">
                            <a href="item/{{ recom.id }}" class="title">{{ recom.title }}</a>
                            <div class="price">₽{{ recom.price }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                
        </div>

        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
            <div class="single-search-product-wrapper">
                {% for recom in recomended[6:9] %}
                    <div class="single-search-product d-flex">
                        <a href="item/{{ recom.id }}"><img src="{{ recom.img }}" alt=""></a>
                        <div class="desc">
                            <a href="item/{{ recom.id }}" class="title">{{ recom.title }}</a>
                            <div class="price">₽{{ recom.price }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                
        </div>

        <div class="col-sm-6 col-xl-3 mb-4 mb-xl-0">
            <div class="single-search-product-wrapper">
                {% for recom in recomended[9:12] %}
                    <div class="single-search-product d-flex">
                        <a href="item/{{ recom.id }}"><img src="{{ recom.img }}" alt=""></a>
                        <div class="desc">
                            <a href="item/{{ recom.id }}" class="title">{{ recom.title }}</a>
                            <div class="price">₽{{ recom.price }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
                
        </div>

        
    </div>
</section>
{% endblock %}